body{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 200px;
    padding: 20px;
}

.display{
    display: flex;
    align-items: end;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 12px;
    padding: 5px 10px;
    height: 100px;
}

.display h3{
    margin: 0px;
    margin-left: auto;
    color: white;
    font-family: "Megrim";
    font-size: 3.5rem;
    font-weight: 100;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons button{
    font-size: 1.6rem;
    font-family: "Megrim";
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.rm{
    background-color:rgba(255, 0, 0, 0.115);
    transition: 0.2s ease-in-out;
}

.rm:hover{
    text-shadow: 
    0 0 10px red;
    box-shadow:
    0 0 10px red;
    color: red;
    border: 1px solid red;
}

.oper{
    background-color: rgba(72, 0, 255, 0.155);
    transition: 0.2s ease-in-out;
}

.oper:hover{
    text-shadow:
    0 0 10px rgb(72, 0, 255);
    box-shadow: 
    0 0 10px rgb(72, 0, 255);
    color: rgb(72, 0, 255);
    border: 1px solid rgb(72, 0, 255);
}

.num{
    background-color: black;
    transition: 0.2s ease-in-out;
}

.num:hover{
    text-shadow:
    0 0 10px white;
    box-shadow:
    0 0 10px white;  
}

.topthird{
    display: flex;
    gap: 5px;
}

.topthird button{
    width: 108px;
    height: 70px;
}

#deleteBtn{
    padding: 20px 10px;
}

#divideBtn{
    height: 70px;
    width: 70px;
}

.middlethird{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 5px;
}

.middlethird button{
    height: 70px;
    width: 70px;
}

.bottomthird{
    display: flex;
    justify-content: space-between;
}

.bottomthird button{
    height: 70px;
    width: 70px;
}

#zeroBtn{
    width: 145px;
    height: 70px;
}

#equalsBtn{
    background-color:rgba(0, 255, 255, 0.125);
    transition: 0.2s ease-in-out;
}

#equalsBtn:hover{
    text-shadow:
    0 0 10px rgb(0, 255, 255);
    box-shadow:
    0 0 10px rgb(0, 255, 255);
    color: rgb(0, 255, 255);
    border: 1px solid rgb(0, 255, 255);
}

